/* import fonts by fonts */
@font-face {
    font-family: 'UnimedSans Regular';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/UnimedSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'UnimedSans SemiBold';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/UnimedSans-SemiBold.ttf') format('truetype');
}

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.fundo{
    background-image: url("images/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;

}

.hora-certa {
    background-image: url("images/hora-certa.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 660px;
    height: 250px;
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 5%;

}

.tv-unimed {
    background-image: url("images/tv-unimed.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 90px;
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 77%;
}
.logo-unimed {
    background-image: url("images/logotipo-unimed.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 90px;
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 87%;
}

.hora-atual {
    font-size: 300px;
    top: 38%;
    left: 33%;
    position: absolute;
    color: #0a5f55;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}